---
// Your microfrontend could fail with an error. This is a static version of your microfrontend that will be displayed
// to the user instead.

import { Heading } from "@navikt/ds-react";
import { text } from "@src/language/text";
import type { Language } from "@src/language/types";
import styles from "@src/styles/index.module.css";
import { isLocal } from "../../utils/environment";
import "@src/styles/aksel.css";
const language = Astro.currentLocale as Language;
---

{isLocal && <meta charset="UTF-8" />}
<div class="tms-microfrontend-template-ssr">
  <div class={styles.microfrontend}>
    <Heading size="medium" level="3">
      {text.title[language]}
    </Heading>
  </div>
</div>
