---
import { Heading, BodyShort } from "@navikt/ds-react";
import { text } from "@src/language/text";
import ClientIsland from "@src/components/ClientIsland";
import logger from "@src/utils/logger";
import { getOboToken } from "@src/utils/token";
import { fetchExampleData } from "../../utils/fetch";
import type { Language } from "@src/types";
import styles from "@src/styles/index.module.css";
import "@src/styles/aksel.css";

const oboToken = await getOboToken(Astro.locals.token);
const exampleApiUrl = import.meta.env.EXAMPLE_API_URL;
let exampleData;

try {
  exampleData = await fetchExampleData(oboToken, exampleApiUrl);
} catch (error) {
  logger.error("Error fetching example data:", error);
  return new Response("Internal Server Error", { status: 503 });
}

const language = Astro.currentLocale as Language;
---

<section class="tms-microfrontend-template-ssr">
  <div class={styles.microfrontend}>
    <Heading size="medium" level="2">
      {text.title[language]}
    </Heading>
    <BodyShort>
      {text.name[language]}: {exampleData.name}
    </BodyShort>
    <ClientIsland client:only="react" />
  </div>
</section>
